.ct-searchbar{
    width: 100%;
    max-width: 979px;
    height: 40px;
}
form{
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;    
    border-color: var(--carros-top-font-color-quarternary);
    display: flex;
}
.ct-search{
    width: 100%;
    max-width: 900px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}
.ct-search input::placeholder{
    color: var(--carros-top-font-color-quarternary);
}
.ct-search input:focus{
    outline:none;
}


.ct-search-button{
    width: 10%;
    min-width: 77px;
    border: none;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
    color: var(--carros-top-font-color-quintiary);
    background-color: var(--carros-top-btn-color-primary);
}