.ct-card-container {
  width: 300px;
  height: 347px;
  background-color: var(--carros-top-bg-color-tertiary);
  border-radius: 10px;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-width:1px;
  border-color:var(--carros-top-bg-color-quarternary);
}

.ct-card-img {
  width: 220px;
  height: 165px;

}

.ct-card-name {
  margin-top: 8px;
    font-weight: 700;
    font-size: 18px;
    color: var(--carros-top-font-color-primary);
}

.ct-card-desc {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: var(--carros-top-font-color-secondary);
}



@media(min-width:576px){
  .ct-card-container {
    width: 258px;
  }
}
@media(min-width:1280px){
  .ct-card-container {
    width: 300px;
  }
}