.ct-buy-button {
  width: 257px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: var(--carros-top-font-color-quintiary);
  background-color: var(--carros-top-btn-color-primary);
  border-radius: 5px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


@media(min-width:576px){
  .ct-buy-button {
    width: 220px;
    margin-top: 30px;

  }
}
@media(min-width:1280px){
  .ct-buy-button {
    width: 266px;
  }
}