@font-face {
  font-family: "Roboto";
  src: url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot");
  src: url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto")format("svg");
}
:root {
  
  --carros-top-bg-color-primary: #fff;
  --carros-top-bg-color-secondary: #F78B00;
  --carros-top-bg-color-tertiary: #EDEDED;
  --carros-top-bg-color-quarternary: #585858;


  --carros-top-font-color-primary: #000000;
  --carros-top-font-color-secondary: #585858;
  --carros-top-font-color-tertiary: #00285F;
  --carros-top-font-color-quarternary: #A7A7A7;
  --carros-top-font-color-quintiary: #FFFFFF;
  
  --carros-top-btn-color-primary: #00285F;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
.mg-top20{
  margin-top: 20px;
}
.pdd-top40{
  padding-top: 40px;
}
.ct-container{
  width: 100%;
  max-width: 979px;
  margin: auto;
}